//===============================================================================
// ~IMPORTS
//===============================================================================
@import "compass/css3";
@import "_normalize.scss";
@import "_base-noise-uris.scss";
@import "_dark-noise-uris.scss";
@import "_light-noise-uris.scss";

//===============================================================================
// §FONTS
//===============================================================================

//===============================================================================
// ~VARIABLES
//===============================================================================

//===============================================================================
// ~MIXINS
//===============================================================================

//===============================================================================
// ~GLOBAL-STYLES
//===============================================================================
// apply box sizing & webkit font smoothing everywhere
*{
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
}

//===============================================================================
// ~HELPER-CLASSES
//===============================================================================

//===============================================================================
// ~TYPOGRAPHY
//===============================================================================

//===============================================================================
// ~GENERAL-STYLES
//===============================================================================
body{
  padding: 3em;
}

ul{
  margin: 0;
  padding: 0;
  width: 28em;
  list-style: none;
}

.base li{
  background-color: grey;
  width: 3em;
  height: 3em;
  margin: 1em;
  float: left;

  &:nth-child(1){
    background-color: red;
  }
}









