//===============================================================================
// ~IMPORTS
//===============================================================================
@import "compass/css3";
@import "_normalize.scss";
@import "_base-noise-uris.scss";
@import "_dark-noise-uris.scss";
@import "_light-noise-uris.scss";

//===============================================================================
// §FONTS
//===============================================================================

//===============================================================================
// ~VARIABLES
//===============================================================================

//===============================================================================
// ~MIXINS
//===============================================================================

//===============================================================================
// ~GLOBAL-STYLES
//===============================================================================
// apply box sizing & webkit font smoothing everywhere
*{
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
}

//===============================================================================
// ~HELPER-CLASSES
//===============================================================================

//===============================================================================
// ~TYPOGRAPHY
//===============================================================================

//===============================================================================
// ~GENERAL-STYLES
//===============================================================================
body{
  padding: 3em;
}

ul{
  margin: 0 0 3em;
  padding: 0;
  width: 28em;
  list-style: none;

  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

li{
  background-color: hsl(0,0,50);
  width: 3em;
  height: 3em;
  margin: 1em;
  float: left;

  @include border-radius(.3em);
}

.base li{

  &:nth-child(1){
    background-image: url($base-noise-100);
  }

  &:nth-child(2){
    background-image: url($base-noise-090);
  }
  
  &:nth-child(3){
    background-image: url($base-noise-080);
  }
  
  &:nth-child(4){
    background-image: url($base-noise-070);
  }

  &:nth-child(5){
    background-image: url($base-noise-060);
  }

  &:nth-child(6){
    background-image: url($base-noise-050);
  }

  &:nth-child(7){
    background-image: url($base-noise-040);
  }

  &:nth-child(8){
    background-image: url($base-noise-030);
  }
  
  &:nth-child(9){
    background-image: url($base-noise-020);
  }
  
  &:nth-child(10){
    background-image: url($base-noise-010);
  }

  &:nth-child(11){
    background-image: url($base-noise-005);
  }

  &:nth-child(12){
    background-image: url($base-noise-004);
  }

  &:nth-child(13){
    background-image: url($base-noise-003);
  }

  &:nth-child(14){
    background-image: url($base-noise-002);
  }

  &:nth-child(15){
    background-image: url($base-noise-001);
  }
}

.dark li{

  &:nth-child(1){
    background-image: url($dark-noise-100);
  }

  &:nth-child(2){
    background-image: url($dark-noise-090);
  }
  
  &:nth-child(3){
    background-image: url($dark-noise-080);
  }
  
  &:nth-child(4){
    background-image: url($dark-noise-070);
  }

  &:nth-child(5){
    background-image: url($dark-noise-060);
  }

  &:nth-child(6){
    background-image: url($dark-noise-050);
  }

  &:nth-child(7){
    background-image: url($dark-noise-040);
  }

  &:nth-child(8){
    background-image: url($dark-noise-030);
  }
  
  &:nth-child(9){
    background-image: url($dark-noise-020);
  }
  
  &:nth-child(10){
    background-image: url($dark-noise-010);
  }

  &:nth-child(11){
    background-image: url($dark-noise-005);
  }
}

.light li{

  &:nth-child(1){
    background-image: url($light-noise-100);
  }

  &:nth-child(2){
    background-image: url($light-noise-090);
  }
  
  &:nth-child(3){
    background-image: url($light-noise-080);
  }
  
  &:nth-child(4){
    background-image: url($light-noise-070);
  }

  &:nth-child(5){
    background-image: url($light-noise-060);
  }

  &:nth-child(6){
    background-image: url($light-noise-050);
  }

  &:nth-child(7){
    background-image: url($light-noise-040);
  }

  &:nth-child(8){
    background-image: url($light-noise-030);
  }
  
  &:nth-child(9){
    background-image: url($light-noise-020);
  }
  
  &:nth-child(10){
    background-image: url($light-noise-010);
  }

  &:nth-child(11){
    background-image: url($light-noise-005);
  }
}






