//===============================================================================
// ~IMPORTS
//===============================================================================
@import "compass/css3";
@import "_normalize.scss";
@import "_noise-uris.scss";

//===============================================================================
// §FONTS
//===============================================================================

//===============================================================================
// ~VARIABLES
//===============================================================================

//===============================================================================
// ~MIXINS
//===============================================================================

//===============================================================================
// ~GLOBAL-STYLES
//===============================================================================
// apply box sizing & webkit font smoothing everywhere
*{
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
}

//===============================================================================
// ~HELPER-CLASSES
//===============================================================================

//===============================================================================
// ~TYPOGRAPHY
//===============================================================================

//===============================================================================
// ~GENERAL-STYLES
//===============================================================================

html{
  height: 100%;
}

body{
  height: 100%;
  @include background-image(radial-gradient(75% 0%, hsla(220,100,50,.15), hsla(300,100,50,.15)),
                            radial-gradient(0% 75%, hsla(0,100,50,.15), hsla(150,100,50,.15)),
                            radial-gradient(25% 0%, hsla(330,100,50,.15), hsla(100,100,50,.15)),
                            radial-gradient(0% 25%, hsla(200,100,50,.15), hsla(0,100,50,.15)),
                            radial-gradient(50% 50%, hsla(60,100,50,.3), hsla(190,100,50,.5))
  );
  position: relative;

  &:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: url($noise-light-3);
  }
}

.wrap{
  
}







